// mixin for 768px width
@mixin for-tablet{
  @media (min-width: 600px) {
    @content;
  }
}

// mixin for 375px width
@mixin for-phone{
  @media (max-width: 375px) {
    @content;
  }
}

* {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: OpenSans;
  src: url("/font/Open_Sans/OpenSans-Regular.ttf");

}

@font-face {
  font-family: OpenSansB;
  src: url("/font/Open_Sans/OpenSans-Bold.ttf");
}

@font-face {
  font-family: OpenSansSB;
  src: url("/font/Open_Sans/OpenSans-SemiBold.ttf");
}

@font-face {
  font-family: Oswald;
  src: url("/font/Oswald/Oswald-Light.ttf");
}

body {
  background: #fff;
  font-family: OpenSans;
}

.container-products {
  width: 1440px;
  background: #fff;
  margin: auto;

  .container-title {
    font-family: OpenSans;
    font-size: 28px;
    font-weight: 400;
    letter-spacing: 0.08em;
    text-align: left;
    text-transform: uppercase;
    margin-bottom: 42px;
    margin-left: 40px;
    margin-top: 80px;
  }

  .product-wrapper {
    display: grid;
    grid-template-columns: 328px 328px 328px 328px;
    // grid-template-columns: repeat(auto-fill, minmax(328px, 1fr));
    grid-template-rows: 1fr;
    grid-auto-flow: row;
    grid-gap: 16px;
    width: 1360px;
    margin-left: 40px;


    .product-link {
      text-decoration: none;
      position: relative;
    }

    .shipping-type {
      font-family: OpenSans;
      font-size: 12px;
      font-weight: 400;
      position: absolute;
      background-color: #fff;
      color: #000;
      left: 0;
      padding: 4px 7px 4px 8px;
      margin-top: 8px;
      margin-left: 8px;
      text-align: center;
      line-height: 20px;
    }

    .product-img {
      width: 100%;
      height: auto;
    }

    .product-info {
      font-family: Oswald;
      padding-top: 3px;

      .product-name {
        text-transform: uppercase;
        font-size: 12px;
        font-weight: 400;
        color: #000;
        letter-spacing: 0.18em;
      }

      .stars {
        padding: 5px 0 5px 0
      }

      .product-price {
        text-transform: uppercase;
        font-size: 12px;
        font-weight: 300;
        color: #353535;
        letter-spacing: 0.18em;
      }
    }

  }
}

.container-reviews {
  width: 902px;
  background: #fff;
  margin: auto;
  margin-top: 95px;

  @include for-tablet {
    width: 343px;

  }

  .container-title {
    font-family: OpenSans;
    font-size: 28px;
    font-weight: 400;
    letter-spacing: 0.08em;
    text-align: center;
    text-transform: uppercase;
    margin-left: auto;
    @include for-tablet {
      font-size: 24px;
    }
  }

  .overall-reviews {
    margin-top: 45px;
    display: grid;
    grid-template-columns: 290px 320px 300px;
    margin-bottom: 40px;
    @include for-tablet {
      grid-template-columns: 1fr;
      grid-template-rows: 133px 140px 95px;
    }
    .product-score {
      display: flex;
      @include for-tablet {
        flex-direction: column;
      }
      .score {
        font-family: OpenSansB;
        font-weight: 400;
        font-size: 60px;
        line-height: 78px;
      }

      .statistics {
        margin-left: 13px;
        margin-top: 25px;

        .reviews {
          margin-top: 8px;
          font-family: OpenSans;
          font-size: 14px;
        }
      }
    }

    .stars-rate {
      margin-top: 20px;
      font-family: OpenSans;
      font-size: 14px;

      .progress-space {
        text-align: center;
        width: 215px;
        margin: 8px;
        height: 8px;
        background: #f1f1f1;
        position: relative;
      }

      .progress-fill {
        background-color: #000;
        height: 8px;
        top: 0;
        position: absolute;
      }
    }

    .review-buttons {
      display: flex;
      flex-direction: column;
      align-items: flex-end;

      .review-btn {
        background: #fff;
        border: 1.8px #000 solid;
        width: 210px;
        color: #000;
        text-decoration: none;
        line-height: 40px;
        text-align: center;
        margin-top: 10px;
        font-size: 12px;
        letter-spacing: .2em;
        text-transform: uppercase;
        font-family: OpenSans;

        &:hover {
          background-color: #000;
          color: #fff;
        }
      }
    }
  }

  .user-review {
    border-top: 1px solid #f1f1f1;
    display: flex;
    width: 910px;
    flex-direction: column;

    &:last-of-type {
      border-bottom: 1px solid #f1f1f1;
    }


    .review-content {
      display: flex;

      .user-info {
        width: 230px;
        padding-top: 24px;

        .user-avatar {
          display: flex;
          align-items: center;

          .user-img {
            background-color: #f1f1f1;
            font-family: OpenSans;
            margin-right: 16px;
            margin-bottom: 16px;
            width: 60px;
            height: 60px;
            text-align: center;
            border-radius: 30px;
            line-height: 55px;
            color: #c4c4c4;
            font-size: 24px;
          }

          .user-name {
            font-family: OpenSansSB;
            font-weight: 400;
            font-size: 16px;
            line-height: 50%;
            position: relative;
            top: -10px;
          }
        }

      }

      .user-text {
        width: 680px;
        padding-top: 25px;
        align-items: center;
        font-family: OpenSans;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 23px;
        letter-spacing: .009px;
        text-align: left;

        .user-title {
          margin-bottom: 8px;
          font-family: OpenSansSB;
          font-size: 14px;
          font-style: normal;
          font-weight: 400;
          line-height: 23px;
          letter-spacing: 0em;
          text-align: left;
          letter-spacing: 0.30px;
        }
      }
    }

    .review-info {
      margin-top: 24px;
      margin-bottom: 24px;
      display: flex;
      justify-content: space-between;

      .review-date {
        font-family: OpenSans;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 24px;
        color: #C4C4C4;
      }

      .review-efficiency {
        font-family: OpenSans;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 167.5%;

        .like-icon {
          margin: 3px 2px 0 4px;
        }

        .dis-like-icon {
          margin: 3px 2px 0 10px;
        }
      }
    }
  }


}

.container-pagination {
  width: 902px;
  background: #fff;
  margin: auto;
  margin-top: 40px;
  margin-bottom: 80px;

  .pagination {
    display: flex;
    justify-content: center;

    span {
      margin: 3px;
      font-size: 14px;
      font-family: OpenSans;

      &:last-of-type {
        text-transform: capitalize;
        margin-left: 25px;

        .active {
          text-decoration: underline;
        }
      }
    }
  }
}