* {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: OpenSans;
  src: url("/font/Open_Sans/OpenSans-Regular.ttf");
}

@font-face {
  font-family: OpenSansB;
  src: url("/font/Open_Sans/OpenSans-Bold.ttf");
}

@font-face {
  font-family: OpenSansSB;
  src: url("/font/Open_Sans/OpenSans-SemiBold.ttf");
}

@font-face {
  font-family: Oswald;
  src: url("/font/Oswald/Oswald-Light.ttf");
}

body {
  background: #fff;
  font-family: OpenSans;
}

.container-products {
  width: 1440px;
  background: #fff;
  margin: auto;
  position: relative;
}

@media (max-width: 768px) {
  .container-products {
    width: 740px;
  }
}

@media (max-width: 375px) {
  .container-products {
    width: 375px;
  }
}

.container-products .container-title {
  font-family: OpenSans;
  font-size: 28px;
  font-weight: 400;
  letter-spacing: 0.08em;
  text-align: left;
  text-transform: uppercase;
  margin-bottom: 42px;
  margin-left: 40px;
  margin-top: 80px;
}

@media (max-width: 768px) {
  .container-products .container-title {
    margin-left: 0;
  }
}

@media (max-width: 375px) {
  .container-products .container-title {
    font-size: 14px;
    margin-top: 40px;
    margin-left: 16px;
    margin-bottom: 16px;
  }
}

@media (max-width: 768px) {
  .container-products .wrapper .slider-container {
    width: 740px;
    overflow: hidden;
  }
}

@media (max-width: 375px) {
  .container-products .wrapper .slider-container {
    width: 375px;
    overflow: hidden;
  }
}

.container-products .wrapper .slider-track {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 328px 328px 328px 328px;
      grid-template-columns: 328px 328px 328px 328px;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
  grid-auto-flow: row;
  grid-gap: 16px;
  width: 1360px;
  margin-left: 40px;
}

@media (max-width: 768px) {
  .container-products .wrapper .slider-track {
    -ms-grid-columns: 368px 368px 368px 368px;
        grid-template-columns: 368px 368px 368px 368px;
    margin-left: 0px;
    grid-gap: 10px;
  }
}

@media (max-width: 375px) {
  .container-products .wrapper .slider-track {
    -ms-grid-columns: 180px 180px 180px 180px;
        grid-template-columns: 180px 180px 180px 180px;
    width: 320px;
    grid-gap: 2px;
    margin-left: 16px;
  }
}

.container-products .wrapper .slider-track .product-link {
  text-decoration: none;
  position: relative;
}

@media (max-width: 768px) {
  .container-products .wrapper .slider-track .product-link .img_product {
    width: 368px;
  }
}

@media (max-width: 375px) {
  .container-products .wrapper .slider-track .product-link .img_product {
    width: 167px;
  }
}

.container-products .wrapper .slider-track .shipping-type {
  font-family: OpenSans;
  font-size: 12px;
  font-weight: 400;
  position: absolute;
  background-color: #fff;
  color: #000;
  left: 0;
  padding: 4px 7px 4px 8px;
  margin-top: 8px;
  margin-left: 8px;
  text-align: center;
  line-height: 20px;
}

.container-products .wrapper .slider-track .product-img {
  width: 100%;
  height: auto;
}

.container-products .wrapper .slider-track .product-info {
  font-family: Oswald;
  padding-top: 3px;
}

.container-products .wrapper .slider-track .product-info .product-name {
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 400;
  color: #000;
  letter-spacing: 0.18em;
}

.container-products .wrapper .slider-track .product-info .stars {
  padding: 5px 0 5px 0;
}

.container-products .wrapper .slider-track .product-info .product-price {
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 300;
  color: #353535;
  letter-spacing: 0.18em;
}

.container-products .wrapper .slider-buttons {
  display: none;
}

@media (max-width: 768px) {
  .container-products .wrapper .slider-buttons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    position: relative;
    top: -340px;
    font-size: 20px;
    margin-left: -6px;
    margin-right: -6px;
  }
}

@media (max-width: 375px) {
  .container-products .wrapper .slider-buttons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    position: relative;
    top: -200px;
    font-size: 15px;
    width: 370px;
    margin-left: auto;
    margin-right: auto;
  }
}

.container-products .wrapper .slider-buttons a {
  text-decoration: none;
  color: #333333;
}

.container-reviews {
  width: 902px;
  background: #fff;
  margin: auto;
  margin-top: 95px;
}

@media (max-width: 768px) {
  .container-reviews {
    width: 343px;
    margin-top: 60px;
  }
}

@media (max-width: 375px) {
  .container-reviews {
    margin-top: 40px;
  }
}

.container-reviews .container-title {
  font-family: OpenSans;
  font-size: 28px;
  font-weight: 400;
  letter-spacing: 0.08em;
  text-align: center;
  text-transform: uppercase;
  margin-left: auto;
}

@media (max-width: 768px) {
  .container-reviews .container-title {
    font-size: 24px;
    font-weight: 700;
  }
}

.container-reviews .overall-reviews {
  margin-top: 45px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 290px 320px 300px;
      grid-template-columns: 290px 320px 300px;
  margin-bottom: 40px;
}

@media (max-width: 768px) {
  .container-reviews .overall-reviews {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: 133px 140px 95px;
        grid-template-rows: 133px 140px 95px;
    margin-bottom: 150px;
    width: 343px;
    margin-top: 15px;
  }
}

@media (max-width: 375px) {
  .container-reviews .overall-reviews {
    margin-bottom: 60px;
  }
}

.container-reviews .overall-reviews .product-score {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 768px) {
  .container-reviews .overall-reviews .product-score {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 343px;
  }
}

.container-reviews .overall-reviews .product-score .score {
  font-family: OpenSansB;
  font-weight: 400;
  font-size: 60px;
  line-height: 78px;
}

.container-reviews .overall-reviews .product-score .statistics {
  margin-left: 13px;
  margin-top: 25px;
}

@media (max-width: 768px) {
  .container-reviews .overall-reviews .product-score .statistics {
    margin-left: 0px;
    margin-top: 10px;
    width: 343px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.container-reviews .overall-reviews .product-score .statistics .reviews {
  margin-top: 8px;
  font-family: OpenSans;
  font-size: 14px;
}

@media (max-width: 768px) {
  .container-reviews .overall-reviews .product-score .statistics .reviews {
    text-align: center;
    width: 343px;
  }
}

.container-reviews .overall-reviews .stars-rate {
  margin-top: 20px;
  font-family: OpenSans;
  font-size: 14px;
}

@media (max-width: 768px) {
  .container-reviews .overall-reviews .stars-rate {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-left: 20px;
  }
}

.container-reviews .overall-reviews .stars-rate .progress-space {
  text-align: center;
  width: 215px;
  margin: 8px;
  height: 8px;
  background: #f1f1f1;
  position: relative;
}

.container-reviews .overall-reviews .stars-rate .progress-fill {
  background-color: #000;
  height: 8px;
  top: 0;
  position: absolute;
}

.container-reviews .overall-reviews .review-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

@media (max-width: 768px) {
  .container-reviews .overall-reviews .review-buttons {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 30px;
  }
}

.container-reviews .overall-reviews .review-buttons .review-btn {
  background: #fff;
  border: 1.8px #000 solid;
  width: 210px;
  color: #000;
  text-decoration: none;
  line-height: 40px;
  text-align: center;
  margin-top: 10px;
  font-size: 12px;
  letter-spacing: .2em;
  text-transform: uppercase;
  font-family: OpenSans;
}

.container-reviews .overall-reviews .review-buttons .review-btn:hover {
  background-color: #000;
  color: #fff;
}

@media (max-width: 768px) {
  .container-reviews .overall-reviews .review-buttons .review-btn {
    width: 100%;
    font-weight: 700;
  }
}

.reviews {
  width: 902px;
  background: #fff;
  margin: auto;
}

@media (max-width: 768px) {
  .reviews {
    width: 768px;
  }
}

@media (max-width: 375px) {
  .reviews {
    width: 340px;
  }
}

.reviews .user-review {
  border-top: 1px solid #f1f1f1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 910px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (max-width: 768px) {
  .reviews .user-review {
    width: 720px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (max-width: 375px) {
  .reviews .user-review {
    width: 340px;
  }
}

.reviews .user-review:last-of-type {
  border-bottom: 1px solid #f1f1f1;
}

.reviews .user-review .review-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 375px) {
  .reviews .user-review .review-content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.reviews .user-review .review-content .user-info {
  width: 230px;
  padding-top: 24px;
}

.reviews .user-review .review-content .user-info .user-avatar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.reviews .user-review .review-content .user-info .user-avatar .user-img {
  background-color: #f1f1f1;
  font-family: OpenSans;
  margin-right: 16px;
  margin-bottom: 16px;
  width: 60px;
  height: 60px;
  text-align: center;
  border-radius: 30px;
  line-height: 55px;
  color: #c4c4c4;
  font-size: 24px;
}

.reviews .user-review .review-content .user-info .user-avatar .user-name {
  font-family: OpenSansSB;
  font-weight: 400;
  font-size: 16px;
  line-height: 50%;
  position: relative;
  top: -10px;
}

@media (max-width: 375px) {
  .reviews .user-review .review-content .user-info .user-avatar .user-name {
    font-size: 14px;
  }
}

@media (max-width: 768px) {
  .reviews .user-review .review-content .user-info .stars {
    margin-left: 60px;
    margin-top: -35px;
    text-align: center;
  }
}

@media (max-width: 375px) {
  .reviews .user-review .review-content .user-info .stars {
    margin-left: 15px;
    margin-top: -35px;
    text-align: center;
  }
}

.reviews .user-review .review-content .user-text {
  width: 680px;
  padding-top: 25px;
  font-family: OpenSans;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 23px;
  letter-spacing: .009px;
  text-align: left;
}

@media (max-width: 768px) {
  .reviews .user-review .review-content .user-text {
    font-size: 16px;
  }
}

@media (max-width: 375px) {
  .reviews .user-review .review-content .user-text {
    width: 340px;
    font-size: 12px;
    line-height: 19px;
    padding-top: 5px;
  }
}

.reviews .user-review .review-content .user-text .user-title {
  margin-bottom: 8px;
  font-family: OpenSansSB;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 23px;
  letter-spacing: 0em;
  text-align: left;
  letter-spacing: 0.30px;
}

@media (max-width: 768px) {
  .reviews .user-review .review-content .user-text .user-title {
    font-size: 16px;
  }
}

@media (max-width: 375px) {
  .reviews .user-review .review-content .user-text .user-title {
    font-size: 12px;
  }
}

.reviews .user-review .review-info {
  margin-top: 24px;
  margin-bottom: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.reviews .user-review .review-info .review-date {
  font-family: OpenSans;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: #C4C4C4;
}

@media (max-width: 375px) {
  .reviews .user-review .review-info .review-date {
    font-size: 12px;
  }
}

.reviews .user-review .review-info .review-efficiency {
  font-family: OpenSans;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 167.5%;
}

@media (max-width: 375px) {
  .reviews .user-review .review-info .review-efficiency {
    font-size: 12px;
  }
}

.reviews .user-review .review-info .review-efficiency .like-icon {
  margin: 3px 2px 0 4px;
}

@media (max-width: 375px) {
  .reviews .user-review .review-info .review-efficiency .like-icon {
    margin: 3px 2px 0 8px;
  }
}

.reviews .user-review .review-info .review-efficiency .dis-like-icon {
  margin: 3px 2px 0 10px;
}

.container-pagination {
  width: 902px;
  background: #fff;
  margin: auto;
  margin-top: 40px;
  margin-bottom: 80px;
}

@media (max-width: 768px) {
  .container-pagination {
    width: 768px;
  }
}

@media (max-width: 375px) {
  .container-pagination {
    width: 340px;
  }
}

.container-pagination .pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.container-pagination .pagination span {
  margin: 3px;
  font-size: 14px;
  font-family: OpenSans;
}

.container-pagination .pagination span:last-of-type {
  text-transform: capitalize;
  margin-left: 25px;
}

.container-pagination .pagination span:last-of-type .active {
  text-decoration: underline;
}
/*# sourceMappingURL=style.css.map */