* {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: OpenSans;
  src: url("/font/Open_Sans/OpenSans-Regular.ttf");

}

@font-face {
  font-family: OpenSansB;
  src: url("/font/Open_Sans/OpenSans-Bold.ttf");
}

body {
  background: #fff;
}

.container-products {
  width: 1440px;
  height: 582px;
  background: #fff;
  margin: auto;

  .container-title {
    font-family: OpenSans;
    font-size: 28px;
    font-weight: 400;
    letter-spacing: 0.08em;
    text-align: left;
    text-transform: uppercase;
    margin-bottom: 42px;
    margin-left: 40px;
    margin-top: 80px;
  }

  .product-wrapper {
    display: grid;
    grid-template-columns: 328px 328px 328px 328px;
    // grid-template-columns: repeat(auto-fill, minmax(328px, 1fr));
    grid-template-rows: 1fr;
    grid-auto-flow: row;
    grid-gap: 16px;
    width: 1360px;
    margin-left: 40px;


    .product-link {
      text-decoration: none;
      position: relative;
    }

    .shipping-type {
      font-family: OpenSans;
      font-size: 12px;
      font-weight: 400;
      position: absolute;
      background-color: #fff;
      color: #000;
      left: 0;
      padding: 4px 7px 4px 8px;
      margin-top: 8px;
      margin-left: 8px;
      text-align: center;
      line-height: 20px;
    }

    .product-img {
      width: 328px;
      height: 410px;
    }

    .product-info {
      font-family: OpenSans;
      padding-top: 3px;

      .product-name {
        text-transform: uppercase;
        font-size: 12px;
        font-weight: 300;
        color: #000;
        letter-spacing: 0.16em;
      }

      .stars {
        padding: 5px 0 5px 0
      }

      .product-price {
        text-transform: uppercase;
        font-size: 12px;
        font-weight: 300;
        color: #000;
      }
    }

  }
}

.container-reviews {
  width: 902px;
  height: 1377px;
  background: #fff;
  margin: auto;

  .container-title {
    font-family: OpenSans;
    font-size: 28px;
    font-weight: 400;
    letter-spacing: 0.08em;
    text-align: center;
    text-transform: uppercase;
    margin-left: auto;
    margin-top: 60px;
  }

  .overall-reviews {
    margin-top: 30px;
    display: grid;
    grid-template-columns: 290px 320px 300px;

    .product-score {
      display: flex;

      .score {
        font-family: OpenSansB;
        font-weight: 400;
        font-size: 60px;
        line-height: 78px;
      }

      .statistics {
        margin-left: 13px;
        margin-top: 25px;

        .reviews {
          margin-top: 8px;
        }
      }
    }

    .stars-rate {
      margin-top: 20px;
      font-family: OpenSans;
      font-size: 14px;

      .progress-space {
        text-align: center;
        width: 215px;
        margin: 8px;
        height: 8px;
        background: #f1f1f1;
        position: relative;
      }

      .progress-fill {
        background-color: #000;
        height: 8px;
        top: 0;
        position: absolute;
      }
    }

    .review-buttons {
      display: flex;
      flex-direction: column;
      align-items: flex-end;

      .review-btn {
        background: #fff;
        border: 1.8px #000 solid;
        width: 210px;
        height: 40px;
        color: #000;
        text-decoration: none;
        line-height: 40px;
        text-align: center;
        margin-top: 10px;
        font-size: 12px;
        letter-spacing: .2em;
        text-transform: uppercase;
        font-family: OpenSans;
        &:hover{
          background-color: #000;
          color: #fff;
        }
      }
    }
  }
}